<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resultat</title>
  </head>
  <body>
    <h1>Url raccourcie</h1>
    <p>shortId: <%= shortId %></p>
    <p>Lien court : <a href="/<%= shortId %>">Ebk/<%= shortId %></a></p>
  </body>
</html>
